.home {
  padding-top: 10px;
  .left {
    float: left;
    padding-right: 15px;
    @media (min-width: 1000px) {
      width: 30%;
    }
  }
  .center {
    float: left;
    padding-right: 15px;
    @media (min-width: 1000px) {
      width: 45%;
    }

    @media (min-width: 601px) and (max-width: 999px) {
      width: 60%;
    }

    @media (max-width: 600px) {
      width: 95%;
    }
  }
  .right{
    float: left;
    @media (min-width: 601px){
      width: 25%;
    }
    @media (max-width: 600px) {
      width: 35%;
    }
  }
  .content {
    height: 60px;
    width: 100%;
    background-color: #e66b6b;
  }
}