.sport-ico {
    display: inline-block;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    vertical-align: middle;
    top: 0 !important;
}

.calendar-list {
    padding-left: 16px;
}

.calendar-list-item {
    float: left;
    cursor: pointer;
    margin: 0 3px 3px 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
}